          <div class="col-lg-8 col-md-7 col-sm-6 text-center mt-4">
            <h1>My Eventbright Project UI Kit</h1>
            <p class="lead">A cyberpunk aesthetic</p>
          </div>

<br>
<p></p>

<header>
  <%= render 'layouts/navbar' %>
</header>
<a href="/static_pages/navbar">Voir la navbar</a>
<br>


<body>
  <%= render 'layouts/footer' %>
</body>
<a href="/static_pages/footer2">Voir le footer </a>
<br>


<body>
  <%= render 'layouts/authentification_form' %>
</body>
<a href="/static_pages/authentification_form">Voir le formulaire d'authentification générique</a>
<br>

<body>
  <%= render 'layouts/big_banner' %>
</body>
<a href="/static_pages/big_banner">Voir la grande bannière</a>
<br>


<a href="/static_pages/small_banner">Voir la petite bannière</a>
<br>

<body>
  <%= render 'layouts/event_card' %>
</body>
<a href="/static_pages/event_card">Voir la carte d'évènements</a>


