<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Eventbright UI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index_atome">Atomes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="static_pages/index_molecule">Molécules et organismes</a>
        </li>
  </div>
</nav>
          <div class="col-lg-8 col-md-7 col-sm-6 text-center mt-4">
            <h1>My Eventbright Project UI Kit</h1>
            <p class="lead">A cyberpunk aesthetic</p>
          </div>

<br>
<p></p>

<header>
  <%= render 'layouts/navbar' %>
</header>
<a href="/static_pages/navbar">Voir la navbar</a>
<br>


<body>
  <%= render 'layouts/footer' %>
</body>
<a href="/static_pages/footer2">Voir le footer </a>
<br>


<body>
  <%= render 'layouts/authentification_form' %>
</body>
<a href="/static_pages/authentification_form">Voir le formulaire d'authentification générique</a>
<br>

<body>
  <%= render 'layouts/big_banner' %>
</body>
<a href="/static_pages/big_banner">Voir la grande bannière</a>
<br>


<a href="/static_pages/small_banner">Voir la petite bannière</a>
<br>

<body>
  <%= render 'layouts/event_card' %>
</body>
<a href="/static_pages/event_card">Voir la carte d'évènements</a>
<br>

<body>
  <%= render 'layouts/users_list' %>
</body>
<a href="/static_pages/users_list">Voir la liste des utilisateurs</a>
<br>
